<div class="content-actu-dj">
  <div class="container">
    <div class="row">

      <div class="col-xs-12">
        <div class="text-center">
          <h1 style="color: white;">April 2018</h1>
          <div class="card-itmes">
            <div class="photo">
              <%=image_tag 'box.jpg', height: 150 %>
            </div>
            <div class="content">
              <br>
              <p class="taille-dj margin-right-card">
                18 April 2018 <br>
              </p>
            </div>
          </div>
          <div class="card-itmes">
            <div class="photo">
              <%=image_tag 'garden.png', height: 150 %>
            </div>
            <div class="content">
              <br>
              <p class="taille-dj margin-right-card">
                13 april 2018 <br>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12">
        <div class="text-center">
          <h1 style="color: white;">March 2018</h1>

          <div class="card-itmes">
            <div class="photo">
              <%=image_tag 'box.jpg', height: 150 %>
            </div>
            <div class="content">
              <br>
              <p class="taille-dj margin-right-card">
                21 & 24 March 2018 <br>
              </p>
            </div>
          </div>

          <div class="card-itmes">
            <div class="photo">
              <%=image_tag 'garden.png', height: 150 %>
            </div>
            <div class="content">
              <br>
              <p class="taille-dj margin-right-card">
                1 & 2 March 2018 <br>
              </p>
            </div>
          </div>
          <div class="card-itmes">
            <div class="photo">
              <%=image_tag 'opassage.jpg', height: 150 %>
            </div>
            <div class="content">
              <br>
              <p class="taille-dj margin-right-card">
                31 March 2018 <br>
              </p>
            </div>
          </div>
        </div>
      </div>


      <div class="col-xs-12">
        <div class="text-center">
          <h1 style="color: white;">February 2018</h1>

          <div class="card-itmes">

            <div class="photo">
              <%=image_tag 'opassage.jpg', height: 150 %>
            </div>


            <div class="content">
              <br>
              <p class="taille-dj margin-right-card">
                23 February 2018 <br>
              </p>
            </div>

          </div>

          <div class="card-itmes">

            <div class="photo">
              <%=image_tag 'garden.png', height: 150 %>
            </div>

            <div class="content">
              <br>
              <p class="taille-dj margin-right-card">
                17 February 2018 <br>
              </p>
            </div>

          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="text-center">
          >
        </div>
      </div>
      <div class="col-xs-12">
        <div class="text-center">
          <h1 style="color: white;">January 2018</h1>
          <div class="card-itmes">

            <div class="photo">
              <%=image_tag 'box.jpg', height: 150 %>
            </div>


            <div class="content">
              <br>

          <ul class="margin-right-card" style="text-align: left;">
            <li style="list-style:none; "> Wednesday &ensp;&ensp;&ensp;17</li>
            <li style="list-style:none;"> Wednesday &ensp;&ensp;&ensp;24</li>
            <li style="list-style:none;"> Wednesday &ensp;&ensp;&ensp;31</li>
          </ul>
            </div>

          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="text-center">
          <h1 style="color: white;">December 2017</h1>
          <div class="card-itmes">

            <div class="photo">
              <%=image_tag 'magazine.jpg', height: 150 %>
            </div>


            <div class="content">
              <br>
              <p class="taille-dj margin-right-card">
                22 December 2018
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
